body{
  background-color:#e1e5f2;
  background-color: #eef5fb;
  background-color: #C6DDF0;
  background-color: #E5D0CC;
  background-color: #eeeef9;
  margin: 0rem;

}
.km-logo{
  background-size: cover;

}

.header {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem;
}
.footer {
  width: 100%;
  left: 0;
  bottom: 0;
  background-color:#E1E5F2; 
  text-align: center;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter";
  justify-content: center;
  margin-bottom: -10rem;
  display: flex;
  flex-direction: column;
  background-size: 100%;
  color: #1b1b21;
  
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  justify-content: space-between;
  align-content: flex-end;
  list-style-type: none;
  width: 20rem;
  margin: 2rem;
  padding: 0rem;
  border: 2rem;
  font-size: 100%;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter";
  font-size: 120%;
  text-align: center;
  margin: 1.5rem;
}
li a {
  display:inline-block;
  display: flex;
  justify-content: flex-end;
  color: #000000;
  text-decoration: none; 
}
.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  

}
.hero-image{
  display: flex;
  flex-direction: column;
  margin-left: 12rem;
 
  

}

.hero-words {
  display: flex;
  flex-direction: column;
  color: #000000;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter";
  text-align: center;
  padding-right: 20rem;
  padding-left: 0rem;
}

#first-words{
  font-size: 3rem;
  color:#000000;
  display:flex;
  justify-content: center;
}

.second-words{
 overflow-wrap: break-word;
 padding-bottom: 3rem;
 font-size: 1.5rem;
}
.bio-section{
  font-family: "Courier New", Courier, "Lucida Sans Typewriter";
  padding-top: 20rem;
  text-align: center;
  font-size: 1.5rem;
}
.bio-header{
  font-size: 2.25rem;
  text-align: center;
}

.projects-all {
  text-align: center; 
  font-family: "Courier New", Courier, "Lucida Sans Typewriter";
  font-size: 2.25rem;
  padding-top: 20rem;
  column-gap: 20px;
  justify-content: space-between;
}

.project {
  display: flex;
  justify-content: center;
  display: inline-flex;
  
}
.project-img{
 display: flex;
 flex-direction: column;
 padding-left: 2rem;
}

.project-text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.project-subheaders{
  display: flex;
  justify-content: left;
  padding-left: 2rem;
  font-size: 2.5rem;
  flex-direction: row;
  font-weight: 800;
  

}
.project-descriptions{
  display: flex;
  font-size: 1.5rem;
  text-align: left;
  padding-left: 2rem;
  padding-bottom: 5rem;
  
}

.shadow {
  transition: box-shadow .2s;
  border-radius:.5px;
  background: 0rem;
  transition: box-shadow 0.3s ease-in-out;
  display: inline-block;
  border-radius: 2rem;

}
.shadow:hover {
  box-shadow: 0rem 0rem 4rem rgba(0, 0, 0, 0.3); 
}

.work-experience{
  text-align: center; 
  font-family: "Courier New", Courier, "Lucida Sans Typewriter";
  font-size: 2.25rem;
  padding-top: 20rem;
  column-gap: 20px;
  justify-content: space-between;
}

.work-text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.work-subheaders{
  display: flex;
  justify-content: left;
  padding-left: 2rem;
  font-size: 2rem;
  flex-direction: row;
  font-weight: 800;
  overflow-wrap: break-word;
  padding-right: 5rem;
 
}
.work-img{
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
}
.work-all{
  display: flex;
  justify-content: center;
  display: inline-flex;
}
.work-description{
  display: flex;
  font-size: 1.5rem;
  text-align: left;
  padding-left: 2rem;
  padding-bottom: 5rem;
}

.mc_embed_signup{
  text-align: center; 
  font-family: "Courier New", Courier, "Lucida Sans Typewriter";
  padding-bottom: 2rem;
  padding-top: 8rem;
}
.indicates-required{
  font-size: 1rem;
}
.mc-field-group{
  
  font-size: 1.5rem;
}
.survey-header{
  
  font-size: 3rem;
}

.footer-text{
  font-size: 1.25rem;
}
.footer-logos {
  display:flex;
  justify-content: center;
  align-items: center;
}
.logo {
  padding: .5rem;
}
.logo-ld {
  padding: .5rem;
}
.logo-fb {
  padding: .5rem;
}

@media only screen and (max-width: 800px) {
  img{
    max-width: 100%;
    height: auto;

  }
  html{
    font-size: 70%;
  }
}
@media only screen and (max-width: 600px) {
  img{
    max-width: 100%;
    height: auto;
   
  }
  html{
   
    height: auto;
  }
}

@media only screen and (max-width: 300px) {

}


/*to make the home, contact etc link to a diff part of the page:
use a href with an id tag 
a href = Name_of_id_class */ 


